<div id="template_bg"
    style="table-layout: fixed; border: 1px solid rgb(206, 212, 218); border-radius: 0px; padding: 0px; box-sizing: border-box; width: 680px; text-align: center; color: rgb(0, 0, 0); background-repeat: no-repeat; background-size: 100% 100%; vertical-align: middle; margin: 0px auto; background-image: unset; background-color: rgb(255, 255, 255);">
    <grammarly-extension data-grammarly-shadow-root="true"
        style="position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;" class="cGcvT">
    </grammarly-extension>
    <grammarly-extension data-grammarly-shadow-root="true"
        style="mix-blend-mode: darken; position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;"
        class="cGcvT"></grammarly-extension>
    <grammarly-extension data-grammarly-shadow-root="true"
        style="position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;" class="cGcvT">
    </grammarly-extension>
    <grammarly-extension data-grammarly-shadow-root="true"
        style="mix-blend-mode: darken; position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;"
        class="cGcvT"></grammarly-extension>
    <grammarly-extension data-grammarly-shadow-root="true"
        style="position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;" class="cGcvT">
    </grammarly-extension>
    <grammarly-extension data-grammarly-shadow-root="true"
        style="mix-blend-mode: darken; position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;"
        class="cGcvT"></grammarly-extension>
    <grammarly-extension data-grammarly-shadow-root="true"
        style="position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;" class="cGcvT">
    </grammarly-extension>
    <grammarly-extension data-grammarly-shadow-root="true"
        style="mix-blend-mode: darken; position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;"
        class="cGcvT"></grammarly-extension>
    <grammarly-extension data-grammarly-shadow-root="true"
        style="position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;" class="cGcvT">
    </grammarly-extension>
    <grammarly-extension data-grammarly-shadow-root="true"
        style="mix-blend-mode: darken; position: absolute; top: -1px; left: -1px; pointer-events: none; z-index: auto;"
        class="cGcvT"></grammarly-extension>
    <table border="0" cellspacing="0" cellpadding="0" width="680"
        style="border-spacing: 0px !important;width:650px;border-collapse: collapse;">
        <tbody id="id_dropcontent" ondrop="drop(event)" ondragover="allowDrop(event)"
            style="width:100%;min-height:100px;display: block;width: 680px;" class="ui-sortable">
            <tr class="tool_element_img" name="img_element_0" id="parent_img_element_0"
                style="width: 675px; display: block;" title="You can double click here to edit properties">
                <td
                    style="width:650px;box-sizing: border-box;border-radius: 0px;border:none;padding: 0px;background-color: rgba(255,255,255,0); text-align: center;">
                    <a href="#" !onclickIs><img class="image" name="img_element" id="img_element_0" width="633"
                            height="298" style=" max-width:650px; border:0px solid gray;"
                            src="https://s3-ap-southeast-1.amazonaws.com/picsqa/piHappiness/Data/6/Media/1623926590_046606.png"></a>
                </td>
                <th class="th_sidenav" style=""> <i class="la la-arrows-alt " aria-hidden="true" title="Move"></i> <br>
                    <i class="fa fa-trash remove_row" aria-hidden="true" title="Remove"></i></th>
            </tr>
            <tr class="tool_element_contet ng-scope" name="content_element_1"
                style="width: 675px !important;display: block;" title="You can double click here to edit properties">












                <td inline-text-editor="" ng-model="lorem_1_fTOMz5" placeholder="this is some placeholder text"
                    class="content_element ng-valid ng-dirty ng-valid-parse ng-touched ng-scope ng-untouched ng-not-empty ng-pristine"
                    name="content_element" id="content_element_1"
                    style="background-color: rgb(255, 255, 255);width: 650px;box-sizing: border-box;height: 178px;min-height: 30px;margin: 0px;padding: 5px 20px 5px 25px;/* word-break: break-all; */border: none;font-family: Arial;font-size: 14px;overflow-wrap: break-word;color: rgb(0, 0, 0);font-style: normal;text-align: left;"
                    contenteditable="false" spellcheck="false"><span class="ng-scope"><br>Hello ~FullName,
                        <br></span><br class="ng-scope"><span class="ng-scope">Kindly fill out the below questionnaire
                        for the position of ~JOB_TITLE&nbsp;so that we will be able to take your recruitment process
                        further. <br><br><br>Link to the assessment: <a href="~DistributionLink" target="_blank">Click
                            here</a> <br><br><br>If you have any further questions do not hesitate to contact
                        me.<br><br>Good luck!<br><br></span></td>
                <th class="th_sidenav ng-scope" style="display: none;"> <i class="la la-arrows-alt " aria-hidden="true"
                        title="Move"></i> <br> <i class="fa fa-trash remove_row" aria-hidden="true" title="Remove"></i>
                </th>
            </tr>
            <tr class="tool_element_img" name="img_element_10" id="parent_img_element_10"
                style="width: 675px; display: block;" title="You can double click here to edit properties">
                <td
                    style="width: 675px; box-sizing: border-box; border-radius: 0px; border: 0px none rgb(0, 0, 0); padding: 12px 0px 0px 30px; background-color: #f1f1f1; text-align: left;">
                    <a href="#" !onclickIs><img class="image" name="img_element" id="img_element_10" width="181"
                            height="67" style="max-width: 650px; border: 0px solid rgb(0, 0, 0); border-radius: 0px;"
                            src="https://s3-ap-southeast-1.amazonaws.com/picsqa/piHappiness/Data/6/Media/1623926645_645470.png"></a>
                </td>
                <th class="th_sidenav" style="display: none;"> <i class="la la-arrows-alt " aria-hidden="true"
                        title="Move"></i> <br> <i class="fa fa-trash remove_row" aria-hidden="true" title="Remove"></i>
                </th>
            </tr>
            <tr class="tool_element_contet ng-scope" name="content_element_11" style="display: block; width: 675px;"
                title="You can double click here to edit properties">




























                <td inline-text-editor="" ng-model="lorem_11_PsmPk6" placeholder="this is some placeholder text"
                    class="content_element ng-valid ng-dirty ng-scope ng-touched ng-valid-parse ng-not-empty"
                    name="content_element" id="content_element_11"
                    style="background-color: #f1f1f1; box-sizing: border-box; min-height: 30px; margin: 0px; padding: 0px 25px 0px; border: none; font-family: Helvetica, sans-serif; font-size: 12px; overflow-wrap: break-word; color: rgb(0, 0, 0); font-style: normal; text-align: left;"
                    contenteditable="false" spellcheck="false"><span class="ng-scope">We have been alerted to the
                        existence of fraudulent messages asking job seekers to set up payment to cover various costs
                        associated with establishing employment at ParamInfo. No one is ever required to pay for
                        employment at ParamInfo. If you are contacted by someone asking for payment, please do not
                        respond, and contact us at careers@ParamInfo.com immediately.<br></span>
                    <br>
                    <br>
                    <span class="ng-scope"><b>Privacy statement | Cookies | Contact us | Visit
                            ParamInfo.com</b><br><br><br>At any
                        time you can update your profile and manage your subscriptions. If you prefer not to receive
                        future marketing communications including event, research, analysis or marketing information,
                        please Unsubscribe here. Unsubscribing will remove you from all ParamInfo subscriptions.
                        <br><br>©All Rights Reserved. | ParamInfo
                        <br><br></span></td>
                <th class="th_sidenav ng-scope" style="display: none;"> <i class="la la-arrows-alt " aria-hidden="true"
                        title="Move"></i> <br> <i class="fa fa-trash remove_row" aria-hidden="true" title="Remove"></i>
                </th>
            </tr>
        </tbody>
    </table>
</div>